.container { 
    padding-top: 10px;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'cabecalho cabecalho'
    'capa-conteudo capa-imagem'
    'organizacao-imagem organizacao-conteudo';
    column-gap: 20px;
    row-gap: 20px;
}

section#capa-conteudo {
    grid-area: capa-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#capa-imagem {
    grid-area: capa-imagem;
}

section#organizacao-imagem {
    grid-area: organizacao-imagem;
}

section#capa-imagem > img, section#organizacao-imagem > img {
    max-width: 100%;
}

section#organizacao-conteudo {
    grid-area: organizacao-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

header {
   grid-area: cabecalho;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
   height: 0 auto;
   flex-wrap: wrap;  /* permite quebrar linha em telas pequenas */
   
}

nav {
    
    flex-grow: 1;
    padding: 5px 0;
}

nav ul {
    display: flex;
    list-style: none;
    
}

ul a:link, a:visited {
    padding: 20px;
    text-decoration: none;
    color: #484848;
    font-size: 15px;
}

ul a:hover {

    color: #0B5CFF;
}

.botao {
    text-decoration: none;
    color: #0B5CFF;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-start;
}

.botao:hover {
    background: #c9dbff;
}

.botao.destaque {
    background: #0B5CFF;
    color: white;
}

.botao.destaque:hover {
    background: #0B5CFF;
    color: white;
}


/* Tipografia */

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

.texto-destaque { 
    color: #0B5CFF;
}


@media (max-width: 768px) {
    .container { 
    
        grid-template-columns: 1fr;
        grid-template-areas: 
        'cabecalho'
        'capa-conteudo'
        'capa-imagem'
        'organizacao-conteudo'
        'organizacao-imagem';
        column-gap: 20px;
        row-gap: 20px;
    }

    header {
   margin-top: 20px;
   flex-direction: column;
   align-items: center;
    }

    h1 {
    font-size: 1.8rem;
    }
}